a:link {color:#333;}    /* unvisited link */
a:visited {color:#71A32F;} /* visited link */
a:hover {background-color:#71A32F;
		color: white;}   /* mouse over link */
a:active {color:#71A32F;}  /* selected link */


body {
	background: white;
	font-family:"Helvetica"; 
	font-weight: 400; 
	color: #555; 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	margin: 50px 20px;
	letter-spacing: 0.05em;

	}

#main {
	width: 960px;
	padding: 20px 50px;
	display: block;
	float: left;
}

	h1 {
	background: white;
	color: #71A32F; 
	height: 40px;
	text-align: center;
	padding: 0 auto;
	
	}

form {
	background-color: #C0C0C0;
	width: 450px;
	line-height: 40px;
	padding: 10px 50px;
	float: left;
	margin: 50px auto 20px;
	 }


label {
	text-align: left;
	font-size: 16px;
	color: black;
}


textarea{
	text-align: start;
	line-height: 30px;
	color: black;
	font-family: "Helvetica";
	width: 450px;
	height: 150px;


}

input {
	font-family: "Helvetica";
	width: 450px;
	font-size: 12pt;
	float: center;
	line-height: 30 px;
}


#list {
	margin: 4em;
	float: right;


	}
}

